{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}

<div class="welcome-message">
    {% if username %}
        <p>Привет, {{ username }}!</p>
    {% else %}
        <p>Войдите или зарегистрируйтесь, чтобы совершать покупки!</p>
    {% endif %}
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% if search_results %}
    <div class="genre-books-container">
        <h3>🤠 По Вашему запросу найдено несколько результатов: 🤠</h3>
        <div class="genre-books-grid">
            {% for book in search_results %}
                <a href="{{ url_for('main.book', id=book['id']) }}" class="genre-book-card-link">
                    <div class="genre-book-card">
                        <img src="{{ url_for('static', filename='images/book.png') }}" alt="{{ book['title'] }}" class="genre-book-image">
                        <div class="genre-book-details">
                            <h4 class="genre-book-title">{{ book['title'] }}</h4>
                            <p class="genre-book-genre">{{ book['genre'] }}</p>
                            <p class="genre-book-author">{{ book['author'] }}</p>
                            <p class="genre-book-price">{{ book['price'] }} ₽</p>
                            <p class="genre-book-description">{{ book['description'] }}</p>
                            <p class="genre-book-rating">Рейтинг: {{ book['rating'] }} ★</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="top-books-container">
    <h3>🐙 ТОП-3 книги недели 🐙</h3>
    <div class="top-books-grid">
        {% for top_book in top_books %}
            <a href="/book/{{ top_book['id'] }}" class="book-card-link">
                <div class="book-card">
                    <img src="{{ url_for('static', filename='images/book.png') }}" alt="{{ top_book['title'] }}" class="book-image">
                    <div class="book-details">
                        <h4 class="book-title">{{ top_book['title'] }}</h4>
                        <p class="book-genre">{{ top_book['genre'] }}</p>
                        <p class="book-author">{{ top_book['author'] }}</p>
                        <p class="book-price">{{ top_book['price'] }} ₽</p>
                        <p class="book-description">{{ top_book['description'] }}</p>
                        <p class="book-rating">Рейтинг: {{ top_book['rating'] }} ★</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}